<br/>
<br/>
<div class="jumbotron jumbotron-fluid" style="background-color:#FEF4F7">
  <div class="container">
    <h1 class="display-4" style="color:#7146B2">BIENVENUE <%= @first_name %> ! </h1>
    <p class="text-center">Ici c'est notre super site de potins, il est chouette, non ?</p>
  </div>
</div>
