<br/>
<br/>
<div class="jumbotron jumbotron-fluid" style="background-color:#FEF4F7">
  <div class="container">
    <h1 class="display-4" style="color:#7146B2">Contactez nous ⬇</h1>
    <p class="text-center">Pour plus d'informations, appelez au 0123456789</p>
  </div>
</div>
